
header {
	position: fixed;
	height: 94px;
	width: 100%;

	transition: margin-top _duration(moderate) , opacity _duration(long);

	.scrolled & {
		height: 0;
		margin-top: -50px;
		opacity: 0;
	}
}

.primary_nav , .middle_nav , .footer_nav {

	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: _size(gutter) 0;
	z-index: 1;
	overflow: hidden;

	& > ul {
		position: relative;
		display: inline-block;
		padding: 0 calc(_size(gutter)/2);
		margin: 0;
		line-height: 0px;

		@extend %nota-list;

		&::before, &::after {
			content: '';
			display: block;
			width: 300%;
			position: absolute;
			top: 50%;
			margin-top: -4px;
			height: 8px;
			border-top: solid 2px rgba(255, 255, 255, 0.45);
			border-bottom: solid 2px rgba(255, 255, 255, 0.45);
		}
		&::before {
			left: 100%;
			margin-left: 1px;
		}
		&::after {
			right: 100%;
			margin-right: 1px;
		}
	}
	a {
		padding: 15px calc(_size(gutter)/3);
		margin: 2px;
		display: inline-block;

		color: _palette(bg);
		text-decoration: none;
		border: 7px double transparent;

		transition: border-color _duration(moderate), padding _duration(short);

		&:hover {
			border-color: rgba(255, 255, 255, 0.45);
			padding: 15px calc(_size(gutter)/2);

			span {
				//font-size: 1.4rem;
			}
			@include respond(_size(tiny)) {
				border: 0 none;
				padding: 0;
				border-radius: 0;
			}
		}
		&:active {
			background: rgba(0, 0, 0, 0.25);
		}

		@include respond(_size(tablet)) {
			padding: 15px 2vw;
		}
		@include respond(_size(mobile)) {
			padding: 15px 1vw;
		}
		@include respond(_size(tiny)) {
			border: 0 none;
			padding: 0;
			border-radius: 99px;
		}
		span{
			@include respond(_size(tiny)) {
				font-size: 0;
			}
		}
	}
}


.middle_nav , body:not(.frontpage) .primary_nav {

	padding: calc(_size(gutter)/2) 0;

	a {
		color: _palette(fg);

		&:hover {
			border-color: rgba(_palette(fg), 0.45);
		}
	}

	& > ul {

		&::before, &::after {
			border-top: solid 2px rgba(_palette(fg), 0.45);
			border-bottom: solid 2px rgba(_palette(fg), 0.45);
		}
	}
}

.double_divider {
	transform: translateY(-216px);
	transition: transform _duration(short);

	span {
		display: block;
		background: rgba(_palette(bg), 0.4);
		height: 16px;
		margin: calc(_size(gutter)/2) 0;
		transition: background-color _duration(long), margin _duration(short);
	}
	&.top {
		margin-top: calc(_size(gutter)*2);
		margin-bottom: calc(_size(gutter)*-2);

		span {
			background: rgba(_palette(bg), 0.4);
		}
	}
	&.bottom {
		margin-top: calc(_size(gutter)*4);
		margin-bottom: calc(_size(gutter)*-4);

		span {
			background: rgba(188, 168, 177, 60%);
		}
	}
	.scrolled_half_hero &.top {

		span {
			background: rgba(_palette(fg), 0.2);
			margin: _size(gutter) 0;
		}
	}
	.scrolled_footer &.bottom {

		span {
			background: rgba(_palette(bg), 0.25);
			margin: _size(gutter) 0;
		}
	}
}

[data-parallax-multiplier] {
	z-index: 9;
	position: relative;
}


.footer {
	padding-top: calc(_size(gutter)*1);
	
	background-attachment: fixed;
	background-color: _palette(btm_bg);
    background-image: url("/wp-content/themes/magill.dev/assets/img/kevin-turcios-night-road.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li.nav_projects {
	display: inline-block;

	body.frontpage & {
		display: none;
	}
}
