
/* Type */

html {
	font-size:62.5%;
}
body {
	font: normal 1.6rem _font(body);
	color:_palette(fg);
}
h1, h2, h3, h4, h5, h6 {
	color: _palette(heading);
	font-family: _font(heading);
	font-weight: _font(heading);
	line-height: 1.5;

	a {
		color: inherit;
	}
}
h1 {
	font-size: 2.4rem;
}

strong, b {
	color: _palette(heading);
}
input, select, textarea {
	color: _palette(fg);
	font-family: _font(body);
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 1.75;
}

p {
	margin: 0 0 1em 0;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

blockquote {
	border-left: solid _size(border) _palette(border);
	font-style: italic;
	margin: 0 0 _size(gutter) 0;
	padding: (_size(gutter) / 4) 0 (_size(gutter) / 4) _size(gutter);
}

code {
	background: _palette(border-bg);
	border-radius: _size(border-radius);
	border: solid _size(border-width) _palette(border);
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: _font(family-fixed);
	font-size: 0.9em;
	margin: 0 0 _size(gutter) 0;

	code {
		display: block;
		line-height: 1.75;
		padding: 1em 1.5em;
		overflow-x: auto;
	}
}

hr {
	border: 0;
	border-bottom: solid _size(border-width) _palette(border);
	margin: _size(gutter) 0;

	&.major {
		margin: (_size(gutter) * 1.5) 0;
	}
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.copyright {
	margin: 0;
	padding: (_size(gutter)/2);

	font-size: 1.3rem;
	color: _palette(bg);
	letter-spacing: 0.05em;
	text-align: center;

	a {
		color: _palette(bg);
		transition: opacity _duration(short);

		&:hover {
			opacity: 0.7;
		}
	}
}


#project-44 {
	.project_title {
		//font-size: 2.2rem;
	}
}
.icon a::before {
	display: none;
	height: 30px;
	width: 30px;
	line-height: 1.8;
	font-family: _font(fab);
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;

	@include respond(_size(tiny)) {
		display: inline-block;
	}
}
.linkedin a::before {
	content: "\f0e1";
}
.github a::before {
	content: "\f09b";
}
.behance a::before {
	content: "\f1b4";
}
.resume a::before {
	font-family: _font(fas);
	font-weight: 900;
	content: "\f15b";
}
